.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 24px;
    font-weight: 200;
    transition: border-color 0.3s ease-in-out;
    color: #707070;}

.input:focus {
    outline: #5a5a5a;
}

.input::placeholder {
    color: #c7c7c7;
    font-style: italic;
}
