.radio {
    display: flex;
    color: #9a9a9a;
}

.input {
    display: none;
}

.label {
    margin: 0 5px;
    cursor: pointer;
}

.input:checked + span {
    border: 1px solid #9a9a9a;
    border-radius: 3px;
}

span {
    padding: 5px;
    border: 1px solid white;
    transition: all ease-in-out 0.1s;
}
